In [92]:
#Dependencies
import pandas as pd
import numpy as np
import csv

In [93]:
#Reading all data files
age_df=pd.read_excel('Data/age_data.xlsx')

dev_data=pd.read_csv('Data/gdp_clean.csv')

In [94]:
#Renaming columns for merging
age_df=age_df.rename(columns={"Country or area": "Country"})

#Merging the two dataframes
merged_df=pd.merge(age_df,dev_data, on="Country")
age_clean_df=merged_df.copy()

In [95]:
age_clean_df

,Country,ISO code,Survey start year,Survey end year,Marital status,Age group,Age group standardised,Indicator,Data value,Data source,...,Unnamed: 11,Unnamed: 12,Notes,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Year,Value,Development
0,Afghanistan,4.0,1972.0,1974.0,Ever-married,[15-24],[Other],Any method,1,National survey,...,Afghanistan 1972-1974 National Demographic and...,1972-1974 NDFGS,..,..,..,..,..,2012,1958.447627,Developing
1,Afghanistan,4.0,1972.0,1974.0,Ever-married,[15-44],[Total],Any method,1.6,National survey,...,Afghanistan 1972-1974 National Demographic and...,1972-1974 NDFGS,..,..,..,..,..,2012,1958.447627,Developing
2,Afghanistan,4.0,1972.0,1974.0,Ever-married,[15-24],[Other],Modern method,1,National survey,...,Afghanistan 1972-1974 National Demographic and...,1972-1974 NDFGS,..,..,..,..,..,2012,1958.447627,Developing
3,Afghanistan,4.0,1972.0,1974.0,Ever-married,[15-44],[Total],Modern method,1.6,National survey,...,Afghanistan 1972-1974 National Demographic and...,1972-1974 NDFGS,..,..,..,..,..,2012,1958.447627,Developing
4,Afghanistan,4.0,2000.0,2000.0,Married/In-union,[12-19],[15-19],Any method,2.5,National survey,...,Afghanistan 2000 Multiple Indicator Cluster Su...,2000 MICS (East),"Data pertain to Nangarhar, Konar and Laghman, ...",..,..,..,..,2012,1958.447627,Developing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62386,Zimbabwe,716.0,2015.0,2015.0,Unmarried/Not-in-union,[30-34],[30-34],Demand satisfied by modern,88.666569,DHS microdata,...,Zimbabwe 2015 Demographic and Health Survey,2015 DHS,..,..,..,..,..,2012,2349.028207,Developing
62387,Zimbabwe,716.0,2015.0,2015.0,Unmarried/Not-in-union,[35-39],[35-39],Demand satisfied by modern,85.812035,DHS microdata,...,Zimbabwe 2015 Demographic and Health Survey,2015 DHS,..,..,..,..,..,2012,2349.028207,Developing
62388,Zimbabwe,716.0,2015.0,2015.0,Unmarried/Not-in-union,[40-44],[40-44],Demand satisfied by modern,95.426089,DHS microdata,...,Zimbabwe 2015 Demographic and Health Survey,2015 DHS,..,..,..,..,..,2012,2349.028207,Developing
62389,Zimbabwe,716.0,2015.0,2015.0,Unmarried/Not-in-union,[45-49],[45-49],Demand satisfied by modern,83.361855,DHS microdata,...,Zimbabwe 2015 Demographic and Health Survey,2015 DHS,..,..,..,..,..,2012,2349.028207,Developing
62390,Zimbabwe,716.0,2015.0,2015.0,Unmarried/Not-in-union,[15-49],[Total],Demand satisfied by modern,82.191934,DHS microdata,...,Zimbabwe 2015 Demographic and Health Survey,2015 DHS,..,..,..,..,..,2012,2349.028207,Developing

In [96]:
age_clean_df["Age group"].unique()

array(['[15-24]', '[15-44]', '[12-19]', '[20-24]', '[25-49]', '[12-49]',
       '[<50]', '[15-19]', '[25-29]', '[30-34]', '[35-39]', '[40-44]',
       '[45-49]', '[10-14]', '[10-49]', '[15-49]', '[15-25]', '[15-50]',
       '[12-14]', '[35-44]', '[20-49]', '[18-19]', '[18-49]', '[16-59]',
       '[18-44]', '[18-46]', '[16-49]', '[44-49]', '[<20]', '[10-19]',
       '[13-14]', '[13-49]', '[18-34]', '[20-44]', '[21-24]', '[21-39]',
       '[50-54]', '[15-54]', '[21-49]', '[25+]', '[18-24]', '[15-17]',
       '[<45]', '[20-34]', '[<44]', '[16-19]', '[16-44]', '[18-50]',
       '[15-21]', '[22-34]', '[15-45]', '[20-39]', '[16-45]', '[<35]',
       '[15-39]', '[40-41]', '[18-41]', '[>40]', '[>15]', '[40-45]',
       '[18-45]', '[18-39]', '[20-29]', '[15-20]', '[21-30]', '[20-45]',
       '[15-29]', '[40-49]', '[See notes]', '[30-37]', '[18-37]',
       '[40-42]', '[18-42]', '[45-54]', '[>55]', '[50]', '[12-50]',
       '[30-39]', '[23]', '[28]', '[33]', '[38]', '[43]', '[20]',
       '[20-43]', '[50-55]', '[15-55]', '[15+]'], dtype=object)

In [97]:
#Deleting all redundant columns
age_clean_df = age_clean_df.drop(columns=["ISO code", "Notes","Unnamed: 10","Unnamed: 11","Unnamed: 12","Unnamed: 14", "Unnamed: 15", "Unnamed: 16", "Unnamed: 17","Value", "Indicator", "Age group standardised"])

In [98]:
#Formating the start and end year
age_clean_df=age_clean_df.astype({"Survey start year":int})
age_clean_df=age_clean_df.astype({"Survey end year":int})

#Cleaning the data
age_clean_df=age_clean_df.loc[age_clean_df["Survey start year"]>=2012, :]
age_clean_df=age_clean_df.dropna(subset=["Age group"])
age_clean_df["Age group"].unique()

array(['[12-19]', '[20-24]', '[25-29]', '[30-34]', '[35-39]', '[40-44]',
       '[45-49]', '[12-49]', '[15-19]', '[15-49]', '[18-19]', '[18-44]',
       '[18-49]', '[16-49]', '[15-54]', '[44-49]', '[10-14]', '[25+]',
       '[12-14]', '[16-19]', '[16-44]', '[10-49]', '[18-24]', '[20-44]',
       '[20-49]', '[30-39]', '[20-29]', '[15-24]', '[15-44]'],
      dtype=object)

In [99]:
age_clean_df["Age group"] = age_clean_df["Age group"].str.replace(r'[\[\]]', '', regex=True)
age_clean_df["Age group"].unique()

array(['12-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49',
       '12-49', '15-19', '15-49', '18-19', '18-44', '18-49', '16-49',
       '15-54', '44-49', '10-14', '25+', '12-14', '16-19', '16-44',
       '10-49', '18-24', '20-44', '20-49', '30-39', '20-29', '15-24',
       '15-44'], dtype=object)

In [101]:
#   Removing the row with 25+ in the data
age_clean_df=age_clean_df.loc[age_clean_df["Age group"]!="25+",:]
age_clean_df["Age group"].unique()

array(['12-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49',
       '12-49', '15-19', '15-49', '18-19', '18-44', '18-49', '16-49',
       '15-54', '44-49', '10-14', '12-14', '16-19', '16-44', '10-49',
       '18-24', '20-44', '20-49', '30-39', '20-29', '15-24', '15-44'],
      dtype=object)

In [102]:
#Finding the middle value of the group range
averages=[]

for i in age_clean_df["Age group"]:
    if "-" in i:
        values=i.split("-")
        low=float(values[0])
        high=float(values[1])
        average=(low+high)/2  
        averages.append(average)
    else:
        averages.append(i)
    
age_clean_df["Average of age group"]=averages

age_clean_df

,Country,Survey start year,Survey end year,Marital status,Age group,Data value,Data source,Year,Development,Average of age group
107,Afghanistan,2012,2012,Married/In-union,12-19,2.7,National survey,2012,Developing,15.5
108,Afghanistan,2012,2012,Married/In-union,20-24,7.8,National survey,2012,Developing,22.0
109,Afghanistan,2012,2012,Married/In-union,25-29,12.7,National survey,2012,Developing,27.0
110,Afghanistan,2012,2012,Married/In-union,30-34,15.3,National survey,2012,Developing,32.0
111,Afghanistan,2012,2012,Married/In-union,35-39,20.9,National survey,2012,Developing,37.0
...,...,...,...,...,...,...,...,...,...,...
62386,Zimbabwe,2015,2015,Unmarried/Not-in-union,30-34,88.666569,DHS microdata,2012,Developing,32.0
62387,Zimbabwe,2015,2015,Unmarried/Not-in-union,35-39,85.812035,DHS microdata,2012,Developing,37.0
62388,Zimbabwe,2015,2015,Unmarried/Not-in-union,40-44,95.426089,DHS microdata,2012,Developing,42.0
62389,Zimbabwe,2015,2015,Unmarried/Not-in-union,45-49,83.361855,DHS microdata,2012,Developing,47.0
62390,Zimbabwe,2015,2015,Unmarried/Not-in-union,15-49,82.191934,DHS microdata,2012,Developing,32.0

In [105]:
#Binning
bins=[10,15,20,25,30,35,40,45,50]
group_names=["10-15", "15-20", "20-25", "25-30", "30-35", "35-40", "40-45", "45-50"]
             
age_clean_df["Age Range"]=pd.cut(age_clean_df["Average of age group"], bins, labels=group_names, include_lowest=True)            
age_clean_df

,Country,Survey start year,Survey end year,Marital status,Age group,Data value,Data source,Year,Development,Average of age group,Age Range
107,Afghanistan,2012,2012,Married/In-union,12-19,2.7,National survey,2012,Developing,15.5,15-20
108,Afghanistan,2012,2012,Married/In-union,20-24,7.8,National survey,2012,Developing,22.0,20-25
109,Afghanistan,2012,2012,Married/In-union,25-29,12.7,National survey,2012,Developing,27.0,25-30
110,Afghanistan,2012,2012,Married/In-union,30-34,15.3,National survey,2012,Developing,32.0,30-35
111,Afghanistan,2012,2012,Married/In-union,35-39,20.9,National survey,2012,Developing,37.0,35-40
...,...,...,...,...,...,...,...,...,...,...,...
62386,Zimbabwe,2015,2015,Unmarried/Not-in-union,30-34,88.666569,DHS microdata,2012,Developing,32.0,30-35
62387,Zimbabwe,2015,2015,Unmarried/Not-in-union,35-39,85.812035,DHS microdata,2012,Developing,37.0,35-40
62388,Zimbabwe,2015,2015,Unmarried/Not-in-union,40-44,95.426089,DHS microdata,2012,Developing,42.0,40-45
62389,Zimbabwe,2015,2015,Unmarried/Not-in-union,45-49,83.361855,DHS microdata,2012,Developing,47.0,45-50
62390,Zimbabwe,2015,2015,Unmarried/Not-in-union,15-49,82.191934,DHS microdata,2012,Developing,32.0,30-35

In [106]:
#Sorting the dataframe by country first and then by year
age_clean_df = age_clean_df.sort_values(by=['Country', 'Survey start year'], ascending=[True, False])
age_clean_df = age_clean_df.drop_duplicates(subset=['Country', 'Age Range'], keep='first')
age_clean_df

,Country,Survey start year,Survey end year,Marital status,Age group,Data value,Data source,Year,Development,Average of age group,Age Range
156,Afghanistan,2018,2018,Ever-married,12-49,18.9,National survey,2012,Developing,30.5,30-35
115,Afghanistan,2015,2016,Married/In-union,15-19,7.755603,DHS microdata,2012,Developing,17.0,15-20
116,Afghanistan,2015,2016,Married/In-union,20-24,17.631357,DHS microdata,2012,Developing,22.0,20-25
117,Afghanistan,2015,2016,Married/In-union,25-29,20.932466,DHS microdata,2012,Developing,27.0,25-30
119,Afghanistan,2015,2016,Married/In-union,35-39,29.015637,DHS microdata,2012,Developing,37.0,35-40
...,...,...,...,...,...,...,...,...,...,...,...
62273,Zimbabwe,2015,2015,All women,25-29,62.640691,DHS microdata,2012,Developing,27.0,25-30
62274,Zimbabwe,2015,2015,All women,30-34,66.849508,DHS microdata,2012,Developing,32.0,30-35
62275,Zimbabwe,2015,2015,All women,35-39,65.432411,DHS microdata,2012,Developing,37.0,35-40
62276,Zimbabwe,2015,2015,All women,40-44,57.363858,DHS microdata,2012,Developing,42.0,40-45
62277,Zimbabwe,2015,2015,All women,45-49,43.052937,DHS microdata,2012,Developing,47.0,45-50

In [108]:
age_clean_df = age_clean_df.sort_values(by=['Country', 'Age Range'], ascending=[True, True])
age_clean_df

,Country,Survey start year,Survey end year,Marital status,Age group,Data value,Data source,Year,Development,Average of age group,Age Range
115,Afghanistan,2015,2016,Married/In-union,15-19,7.755603,DHS microdata,2012,Developing,17.0,15-20
116,Afghanistan,2015,2016,Married/In-union,20-24,17.631357,DHS microdata,2012,Developing,22.0,20-25
117,Afghanistan,2015,2016,Married/In-union,25-29,20.932466,DHS microdata,2012,Developing,27.0,25-30
156,Afghanistan,2018,2018,Ever-married,12-49,18.9,National survey,2012,Developing,30.5,30-35
119,Afghanistan,2015,2016,Married/In-union,35-39,29.015637,DHS microdata,2012,Developing,37.0,35-40
...,...,...,...,...,...,...,...,...,...,...,...
62273,Zimbabwe,2015,2015,All women,25-29,62.640691,DHS microdata,2012,Developing,27.0,25-30
62274,Zimbabwe,2015,2015,All women,30-34,66.849508,DHS microdata,2012,Developing,32.0,30-35
62275,Zimbabwe,2015,2015,All women,35-39,65.432411,DHS microdata,2012,Developing,37.0,35-40
62276,Zimbabwe,2015,2015,All women,40-44,57.363858,DHS microdata,2012,Developing,42.0,40-45
62277,Zimbabwe,2015,2015,All women,45-49,43.052937,DHS microdata,2012,Developing,47.0,45-50