In [73]:
#Dependencies
import pandas as pd
import numpy as np
import csv

In [74]:
#Reading all data files
age_df=pd.read_excel('Data/age_data.xlsx')

dev_data=pd.read_csv('Data/gdp_clean.csv')

In [75]:
#Renaming columns for merging
age_df=age_df.rename(columns={"Country or area": "Country"})

#Merging the two dataframes
merged_df=pd.merge(age_df,dev_data, on="Country")
age_clean_df=merged_df.copy()

In [76]:
age_clean_df.head()

,Country,ISO code,Survey start year,Survey end year,Marital status,Age group,Age group standardised,Indicator,Data value,Data source,...,Unnamed: 11,Unnamed: 12,Notes,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Year,Value,Development
0,Afghanistan,4.0,1972.0,1974.0,Ever-married,[15-24],[Other],Any method,1,National survey,...,Afghanistan 1972-1974 National Demographic and...,1972-1974 NDFGS,..,..,..,..,..,2012,1958.447627,Developing
1,Afghanistan,4.0,1972.0,1974.0,Ever-married,[15-44],[Total],Any method,1.6,National survey,...,Afghanistan 1972-1974 National Demographic and...,1972-1974 NDFGS,..,..,..,..,..,2012,1958.447627,Developing
2,Afghanistan,4.0,1972.0,1974.0,Ever-married,[15-24],[Other],Modern method,1,National survey,...,Afghanistan 1972-1974 National Demographic and...,1972-1974 NDFGS,..,..,..,..,..,2012,1958.447627,Developing
3,Afghanistan,4.0,1972.0,1974.0,Ever-married,[15-44],[Total],Modern method,1.6,National survey,...,Afghanistan 1972-1974 National Demographic and...,1972-1974 NDFGS,..,..,..,..,..,2012,1958.447627,Developing
4,Afghanistan,4.0,2000.0,2000.0,Married/In-union,[12-19],[15-19],Any method,2.5,National survey,...,Afghanistan 2000 Multiple Indicator Cluster Su...,2000 MICS (East),"Data pertain to Nangarhar, Konar and Laghman, ...",..,..,..,..,2012,1958.447627,Developing

In [77]:
#Deleting all redundant columns
age_clean_df = age_clean_df.drop(columns=["ISO code", "Notes","Unnamed: 10","Unnamed: 11","Unnamed: 12","Unnamed: 14", "Unnamed: 15", "Unnamed: 16", "Unnamed: 17","Value", "Indicator", "Age group standardised"])

In [78]:
#Formating the start and end year
age_clean_df=age_clean_df.astype({"Survey start year":int})
age_clean_df=age_clean_df.astype({"Survey end year":int})

#Cleaning the data
age_clean_df=age_clean_df.loc[age_clean_df["Survey start year"]>=2012, :]
age_clean_df=age_clean_df.dropna(subset=["Age group"])
age_clean_df

,Country,Survey start year,Survey end year,Marital status,Age group,Data value,Data source,Year,Development
107,Afghanistan,2012,2012,Married/In-union,[12-19],2.7,National survey,2012,Developing
108,Afghanistan,2012,2012,Married/In-union,[20-24],7.8,National survey,2012,Developing
109,Afghanistan,2012,2012,Married/In-union,[25-29],12.7,National survey,2012,Developing
110,Afghanistan,2012,2012,Married/In-union,[30-34],15.3,National survey,2012,Developing
111,Afghanistan,2012,2012,Married/In-union,[35-39],20.9,National survey,2012,Developing
...,...,...,...,...,...,...,...,...,...
62386,Zimbabwe,2015,2015,Unmarried/Not-in-union,[30-34],88.666569,DHS microdata,2012,Developing
62387,Zimbabwe,2015,2015,Unmarried/Not-in-union,[35-39],85.812035,DHS microdata,2012,Developing
62388,Zimbabwe,2015,2015,Unmarried/Not-in-union,[40-44],95.426089,DHS microdata,2012,Developing
62389,Zimbabwe,2015,2015,Unmarried/Not-in-union,[45-49],83.361855,DHS microdata,2012,Developing
62390,Zimbabwe,2015,2015,Unmarried/Not-in-union,[15-49],82.191934,DHS microdata,2012,Developing

In [87]:
#Getting the number of rows
rows=len(age_clean_df)

26250